---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import GameCard from '../components/GameCard.astro';
import Anuncio from '../components/Anuncio.astro';

// 1. Lógica de paginación automática
export async function getStaticPaths({ paginate }) {
  const todos = await getCollection('juegos');
  
  const juegosOrdenados = [...todos].sort((a, b) => 
    b.data.fecha.valueOf() - a.data.fecha.valueOf()
  );

  return paginate(juegosOrdenados, { pageSize: 9 });
}

const { page } = Astro.props;

---

<Layout title="DropGames | Inicio">
  <main class="contenedor-principal">
    
    <section class="seccion-recientes">
      <h1 class="titulo-seccion">Novedades Recientes</h1>
      
      <div class="grid-videojuegos">
        {page.data.map((juego) => <GameCard juego={juego} />)}
      </div>

      <!-- Navegación automática -->
      <nav class="pagination-ui">
        {page.url.prev && <a href={page.url.prev} class="nav-btn">« </a>}
        
        <span class="page-numbers">{page.currentPage} de {page.lastPage}</span>
        
        {page.url.next && <a href={page.url.next} class="nav-btn">»</a>}
      </nav>
    </section>

  <!-- Sidebar con el Top 5 -->
<aside class="sidebar-top">

  <div class="sidebar-ads sidebar-ads-fija">
    <Anuncio type="nativo" />
    <Anuncio type="banner-300" />
    <Anuncio type="nativo" />
  </div>

    </aside>

  </main>
</Layout>
